## python
code/BacDup/__pycache__/
code/BacDup/scripts/__pycache__/
code/BacDup/modules/__pycache__/

## environment
code/env/BacDup/

## eclipse
.pydevproject
.project

## builds pip
code/BacDup.egg-info/
code/build/
code/dist/
code/.pypirc

## test
developer/test
developer/test_ncbi_donwload/
/.metadata/

## R
developer/test_R/.Rhistory
